<main class="main">
  <div class="content">
    <div class="left-side">
      <form [formGroup]="ipForm" (ngSubmit)="onSubmit()">
        <label for="ip">Drohnen IP-Adresse</label>

        <input id="ip" type="text" formControlName="droneIp" placeholder="z.B. 192.168.1.1">

        <div class="error-message" *ngIf="ipForm.get('droneIp')?.touched && ipForm.get('droneIp')?.invalid">
          <small *ngIf="ipForm.get('droneIp')?.errors?.['required']">IP wird benötigt.</small>
        </div>

        <button
          type="submit"
          [disabled]="isConnecting || isConnected">
          {{ isConnecting ? 'Verbinde...' : 'Verbinden' }}
        </button>

        <div class="drone-controls" *ngIf="isConnected">
          <h3>Steuerung</h3>
          <div class="button-group">
            <button class="btn-start" (click)="startDrone()">Start (1m Steigen)</button>
            <button class="btn-stop" (click)="stopDrone()">Not-Stopp</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</main>

<router-outlet />
