<main class="main">
  <div class="content">
    <div class="left-side">
      <form [formGroup]="ipForm" (ngSubmit)="onSubmit()">
        <label for="ip">Drohnen IP-Adresse</label>

        <input id="ip" type="text" formControlName="droneIp" placeholder="z.B. 192.168.1.1">

        <div class="error-message" *ngIf="ipForm.get('droneIp')?.touched && ipForm.get('droneIp')?.invalid">
          <small *ngIf="ipForm.get('droneIp')?.errors?.['required']">IP wird benötigt.</small>
        </div>

        <button
          type="submit"
          [disabled]="isConnecting">
          {{ isConnecting ? 'Verbinde...' : 'Verbinden' }}
        </button>
      </form>
    </div>
  </div>
</main>

<div class="test-steuerung" *ngIf="isConnected">
  <button class="btn-start big-btn" (click)="startDrone()">START</button>
  <button class="btn-stop big-btn" (click)="stopDrone()">STOP</button>
</div>

<router-outlet />
