version: '3.8'
services:
  db:
    image: mariadb:10.6
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: drohnenprojekt
      MARIADB_DATABASE: drohnen_db
    ports:
      - "3306:3306"
    volumes:
      - ./mariadb_data:/var/lib/mysql